{extends "lesson-base.html" %}

{% block title %}{{ PageTitle }}{% endblock %}

{% block course_title %}{{ CourseTitle }}{% endblock %}
{% block chapter_title %}{{ ChapterTitle }}{% endblock %}
{% block lesson_title %}{{ LessonTitle }}{% endblock %}

{% block section_head_rows %}
<table class="header-table">
    <th class="column-header">Section</th>
    <tr>
        <td class="purpose-importance-cell">Purpose and Importance</td>
    </tr>
    <tr>
        <td class="core-themes-cell">Core themes</td>
    </tr>
    <tr>
        <td class="unit-outcomes-cell">Unit outcomes</td>
    </tr>
    <tr>
        <td class="objectives-cell">Objectives</td>
    </tr>
    <tr>
        <td class="warm-up-cell">Warm-up</td>
    </tr>
    <tr>
        <td class="key-activities-cell">Key activities</td>
    </tr>
    <tr>
        <td class="discussion-topics-cell">Discussion topics</td>
    </tr>
    <tr>
        <td class="checkpoint-labs-cell">Checkpoint labs</td>
    </tr>
    <tr>
        <td class="academic-materials-cell">Additional resources</td>
    </tr>
    <tr>
        <td class="skills-cell">Skills</td>
    </tr>
    <tr>
        <td class="careers-cell">Careers</td>
    </tr>
</table>
{% endblock %}
{% block section_en_rows %}
<table class="english-table">
    <th class="column-english">English</th>
    <tr>
        <td class="purpose-importance-cell">{{ PurposeAndImportance_EN }}</td>
    </tr>
    <tr>
        <td class="core-themes-cell">{{ CoreThemes_EN }}</td>
    </tr>
    <tr>
        <td class="unit-outcomes-cell">{{ UnitOutcomes_EN }}</td>
    </tr>
    <tr>
        <td class="objectives-cell">{{ Objectives_EN }}</td>
    </tr>
    <tr>
        <td class="warm-up-cell">{{ WarmUp_EN }}</td>
    </tr>
    <tr>
        <td class="key-activities-cell">{{ KeyActivities_EN }}</td>
    </tr>
    <tr>
        <td class="discussion-topics-cell">{{ DiscussionTopics_EN }}</td>
    </tr>
    <tr>
        <td class="checkpoint-labs-cell">{{ CheckpointLabs_EN }}</td>
    </tr>
    <tr>
        <td class="academic-materials-cell">{{ AcademicMaterials_EN }}</td>
    </tr>
    <tr>
        <td class="skills-cell">{{ Skills_EN }}</td>
    </tr>
    <tr>
        <td class="careers-cell">{{ Careers_EN }}</td>
    </tr>
</table>
{% endblock %}
{% block section_es_rows %}
<table class="spanish-table">
    <th class="column-spanish">Español</th>
    <tr>
        <td class="purpose-importance-cell">{{ PurposeAndImportance_ES }}</td>
    </tr>
    <tr>
        <td class="core-themes-cell">{{ CoreThemes_ES }}</td>
    </tr>
    <tr>
        <td class="unit-outcomes-cell">{{ UnitOutcomes_ES }}</td>
    </tr>
    <tr>
        <td class="objectives-cell">{{ Objectives_ES }}</td>
    </tr>
    <tr>
        <td class="warm-up-cell">{{ WarmUp_ES }}</td>
    </tr>
    <tr>
        <td class="key-activities-cell">{{ KeyActivities_ES }}</td>
    </tr>
    <tr>
        <td class="discussion-topics-cell">{{ DiscussionTopics_ES }}</td>
    </tr>
    <tr>
        <td class="checkpoint-labs-cell">{{ CheckpointLabs_ES }}</td>
    </tr>
    <tr>
        <td class="academic-materials-cell">{{ AcademicMaterials_ES }}</td>
    </tr>
    <tr>
        <td class="skills-cell">{{ Skills_ES }}</td>
    </tr>
    <tr>
        <td class="careers-cell">{{ Careers_ES }}</td>
    </tr>
</table>
{% endblock %}

{% block footer %}
<div id="left">
    <p></p>{{ CurrentYear }} {{ CourseTitle }} &copy; Open Course License</p>
    <p>Version: {{ CourseVersion }}</p>
    <p>Last updated: {{ LastUpdated }}</p>
</div>
<div id="right">
    <p>&reg; PAC-MIT Maestro - Program for the Advancement of MEST Careers</p>
    <p>Develop for the PAC-MIT Open Learning</p>
    <p>Mission: <span>God Wisdom through Virtue in Youth Education</span></p>
    <p>Program: High School Major in Math and Technology</p>
    <p>Campus: Iglesia Cristiana de Pueblo Nuevo, Los Alcarrizos</p>
    <p>Website: {{ CourseURL }}</p>


    {% endblock %}
